# Folder Ignores Keyword
**/*-ignore/

# Python virutal environment
**/.venv/

# VS Code Settings
**/.vscode/

# Python binarys
**/__pycache__/

# temp folders from fetch()
**/tmp/*

# datasets
**/datasets/

# Models that are too big and Temp models
**/Saved_Models/Too_Big/
**/best_model.pth

# Archives
***.zip
***.Zip
***.gz